// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// Example Usage: @media($bp-smaller-than-tablet) { ... }
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1250px" !default;

$bp-smaller-than-desktophd: "max-width: 1250px" !default;
$bp-smaller-than-desktop : "max-width: 1060px" !default;
$bp-smaller-than-tablet : "max-width: 750px" !default;
$bp-smaller-than-mobile : "max-width: 480px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;

$bp-listing-interface : "max-width: 960px" !default;

// Colors
$red: #F05133 !default;
$white: #ffffff !default;
$black: #5a5b5b !default;
$blue: #00aeef !default;
$green: #35BDB2 !default;
$grey: #5A5B5C !default;
$light-grey: #E3E3E3 !default;

$light-blue: #bfebfb;
$new-red: #ed4642;
$light-light-blue: #e5f7fd;

//Fonts
$proxima: "proxima-nova",sans-serif;


// Misc
//$global-radius: 4px !default;
