.navigation-bar{
   position: relative;
   background-color: $white;
   // height: 80px;
   width: 100%;
   padding: 10px 20px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
   z-index: 2;

   &.global{
      height:auto;
      position:relative;
      box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.1);
   }

   svg{
      height: 60px;
   }
   .navigation-logo{
      // width: 144px;
      @media screen and ($bp-smaller-than-desktop){
         margin: 0 auto;
         float: none;
      }
      // @media screen and ($bp-smaller-than-tablet){
      //    width: 50%;
      // }
   }
}

.menu-button{
   width: 100%;
   border-top: 2px solid $light-grey;
   text-align: center;
   display: none;
   padding: 10px 0px 4px 0px;
   color: $blue;
   font-weight: 600;
   font-size: 1.5rem;
   cursor: pointer;
   &:hover{
      text-decoration: none;
   }
   @media screen and (max-width: 884px){
      display: block;
   }
}

.main-navigation{
   ul{
      float:right;
      margin-top:10px;
      transition: height 0.25s ease-in-out;
      @media screen and ($bp-smaller-than-desktop){
         float: left;
      }
      &:not(.open){
         @media screen and (max-width: 884px){
            overflow: hidden;
            height: 0px;
            margin: 0;
         }
      }
      li{
         display:inline-block;
         float:left;
         border-top:5px solid $blue;
         list-style-type: none;
         margin-right:1em;

         &:active,
         &:focus,
         &:hover{
            border-top:5px solid $green;
         }

         &.current-menu-item{
            border-top:5px solid $new-red;
         }
         &:nth-of-type(1),
         &:nth-of-type(3){
            width:150px;
         }
         &:nth-of-type(2),
         &:nth-of-type(4){
            width:230px;
         }
         a{
            color:$grey;
            text-transform: uppercase;
            font-size:13px;
            font-weight: 600;
            &:hover{
               text-decoration: none;
            }
         }
      }
   }
}
