.map-tool-page{
   p{
      font-size: 1.3rem;
   }
}

#map-listing-button{
   display: none;
   visibility: hidden;
   opacity: 0;
   a{
      color: $blue;
      line-height: 28px;
      &:hover{
         text-decoration: none;
      }
   }
   @media screen and ($bp-listing-interface){
      display: initial;
   }
   &.open{
      #map-tab{
         right: 100%;
      }
      #listing-tab{
         left: 0;
         display: inline-block;
      }
   }
   #map-tab, #listing-tab{
      background: $white;
      height: 36px;
      position: absolute;
      display: inline-block;
      z-index: 10;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
      bottom: 70px;
      padding: 4px 10px;
      cursor: pointer;
   }
   #map-tab{
      border-radius: 4px 0px 0px 4px;
      right: 0;
      // transition: right 0.4s linear;
      a{
         &::after{
            content: '»';
            display: inline;
            font-size: 2rem;
            margin-left: 4px;
         }
      }
   }
   #listing-tab{
      border-radius: 0px 4px 4px 0px;
      left: 100%;
      display: none;
      // transition: left 0.4s linear;
      a{
         &::before{
            content: '»';
            display: inline-block;
            transform: rotate(180deg);
            font-size: 2rem;
            vertical-align: middle;
            margin-right: 4px;
         }
      }
   }
}

.searchmodal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   padding: 40px;
   z-index: 10;
   overflow: hidden;
   #searchModalClose{
      width: 44px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      path{
         fill: $blue;
      }
   }
   #modalFilterContent{
      margin-top: 0;
      transition: margin-top 0.4s ease-in-out;
      &.open{
         margin-top: -40%;
      }
   }
   h2{
      color: $blue;
      max-width: 90%;
   }
   a{
      font-family: 'Cabin', sans-serif;
      color: $blue;
      font-style: italic;
      cursor: pointer;
   }
   #modalNonFilter{
      transform-origin: top;
   }
   .landing-filters{
      p{
         margin-bottom: 10px;
      }
   }
}

.search-container{
   background-color: $light-grey;
   padding: 10px;
   margin: 20px 0 0 0;
   white-space: nowrap;
   input[type="text"]{
      font-family: 'Cabin', sans-serif;
      width: 40vw;
      height: 36px;
      border: 0px;
      outline: 0px;
   }
   input[type="submit"]{
      font-weight: normal;
      height: 36px;
      border: 0px;
      background-color: $blue;
      color: $white;
      font-size: 2.4rem;
      vertical-align: bottom;
      padding: 0 10px;
      &:hover{
         background: $green;
      }
   }
}

a.dropdown-trigger{
   display: inline-block;
   width: 33%;
   color: $white;
   background-color: $blue;
   font-style: normal;
   text-decoration: none;
   padding: 5px;
   transition: background-color 0.2s ease-in-out;
   cursor: pointer;
   @media screen and ($bp-smaller-than-phablet){
      display: block;
      width: 100%;
   }
   &:hover{
      text-decoration: none;
      background-color: $green;
   }
   &.active-filter{
      background-color: $red;
   }
   p{
      color: $white;
      margin: 0;
      display: inline;
   }
   &:nth-of-type(2){
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;
      @media screen and ($bp-smaller-than-phablet){
         border: 0px;
         margin: 2px 0;
      }
   }
   span{
      float: right;
      transform: rotate(90deg);
      color: $white;
      line-height: normal;
   }
}

#map{
   position: absolute;
   right: 0;
   height: 100vh;
   width: 100%;
   z-index: 0;
   transition: width 0.4s ease-in-out 0.8s;
   &.listing-view{
      width: 50%;
      @media screen and ($bp-listing-interface){
         width: 100%;
      }
   }
}

.listing-interface{
   width: 50%;
   background-color: #fff;
   position: absolute;
   left: -50%;
   top: 0;
   z-index: 1;
   padding: 0 40px 40px 40px;
   height: 100vh;
   max-height: 100vh;
   box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   @media screen and ($bp-listing-interface){
      width: 100%;
      left: -100%;
      padding: 0 20px 20px 20px;
      &.closed{
         left: -100%;
      }
   }
   &.filter-view{
      overflow-y: hidden;
   }
   #selectionView{
      position: relative;
      overflow-y: scroll;
      height: 100vh;
      padding-top: 80px;
   }
   #detailPane{
      opacity: 0;
      visibility: hidden;
      h4, p{
         margin: 0;
      }
      .program-info-row{
         margin-bottom: 2rem;
      }
   }
   #collapsableContent{
      overflow: hidden;
   }
   .detail-block-container{
      position: absolute;
      top: 150px;
      left: 50px;
      overflow-y: scroll;
      opacity: 0;
      visibility: hidden;
      padding: 0 40px;
      bottom: 0;
      // right: 0;
   }
   .indiv-detail-block{
      display: block;
   }
   .detail-nav{
      width: 100%;
      z-index: 2;
      line-height: 50px;
      background-color: $white;
   }
   #detailNavTop{
      position: absolute;
      height: 60px;
      line-height: 60px;
      top: 40px;
      left: 0;
      padding: 0 40px;
      visibility: hidden;
      opacity: 0;
      .detail-nav-border{
         border-bottom: 4px solid $blue;
      }
      .program-hospital{
         margin: 0;
         display: inline-block;
         position: absolute;
         right: 40px;
         bottom: 8px;
      }
      #backButton{
         .button-text{
            margin: 0 0 0 10px;
         }
      }
   }
   .navigation-button{
      display: inline-block;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      .button-arrow{
         height: 32px;
         display: inline-block;
         vertical-align: middle;
      }
      .button-text{
         font-size: 1.6rem;
         margin: 0 0 0 10px;
         color: $blue;
         display: inline-block;
         vertical-align: middle;
         transition: color 0.2s ease-in-out;
         &:hover{
            text-decoration: none;
         }
      }
      svg{
         path{
            transition: fill 0.2s ease-in-out;
         }
      }
      &:hover{
         .button-text{
            color: $green;
         }
         path{
            fill: $green;
         }
      }
   }
   .detail-nav-bottom{
      bottom: 0;
      left: 0;
      padding-bottom: 10px;
      .button-arrow{
         width: 32px;
         height: auto;
      }
      #collapse{
         float: right;
         .button-text{
            margin: 0px 10px 0px 0px;
         }
      }
      a.contact-button{
         background-color: $blue;
         color: $white;
         padding: 6px 8px;
         transition: background-color 0.2s ease-in-out;
         &:hover{
            text-decoration: none;
            background-color: $green;
         }
      }
      .detail-nav-border{
         border-bottom: 2px solid $light-grey;
      }
   }
   .filter-bottom-nav{
      background: $white;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      bottom: 0;
      width: 100%;
      color: $blue;
      left: 0;
      padding: 0 40px;
      z-index: 2;
      .filter-nav-border{
         border-top: 8px solid $blue;
         padding: 10px 0;
      }
      a{
         cursor: pointer;
         font-size: 2.4rem;
         transition: color 0.2s ease-in-out;
         &:hover{
            text-decoration: none;
            color: $green;
         }
      }
      #applyFilters{
         float: right;
      }
   }
   .filters{
      position: absolute;
      background-color: $white;
      bottom: 0;
      left: 0;
      right: 0;
      top: 220px;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      padding: 0 40px 70px 40px;
      overflow-y: scroll;
      //Range Inputs
      .filter-select{
         display: block;
      }
      input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 0px 0;
      }
      input[type=range]:focus, input[type=range]:active {
        outline: none;
        &::-webkit-slider-thumb{
           background: $red;
        }
        &::-moz-range-thumb{
           background: $red;
        }
        &::-ms-thumb{
           background: $red;
        }
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 24px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        background: #ffffff;
        border-radius: 12px;
        border: 1.5px solid #0e97d4;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #0e97d4;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -1.5px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ffffff;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 24px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        background: #ffffff;
        border-radius: 12px;
        border: 1.5px solid #0e97d4;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #0e97d4;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 24px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #f2f2f2;
        border: 1.5px solid #0e97d4;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type=range]::-ms-fill-upper {
        background: #ffffff;
        border: 1.5px solid #0e97d4;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
      }
      input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        border: 0px solid rgba(0, 0, 0, 0);
        width: 24px;
        border-radius: 12px;
        background: #0e97d4;
        cursor: pointer;
        height: 24px;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #ffffff;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #ffffff;
      }
      //Range Inputs
      //Checkboxes and Radios
      label{
         display: inline-block;
         font-size: 1.6rem;
      }
      .checkboxes, .radio-buttons{
         input{
            opacity: 0;
            z-index: -10;
            position: absolute;
            &:focus{
               ~ .indicator{
                  border-color: $red;
               }
            }
            &:checked{
               ~ .indicator::after{
                  display: block;
               }
            }
         }
         .indicator{
            vertical-align: middle;
            position: relative;
            display: inline-block;
            height: 24px;
            width: 24px;
            background: transparent;
            border: 1px solid $blue;
         }
      }
      .radio-buttons{
         .indicator{
            border-radius: 50%;
            &::after{
               content: '';
               display: none;
               position: absolute;
               top: 3px;
               left: 3px;
               height: 16px;
               width: 16px;
               border-radius: 50%;
               background: $green;
            }
         }
      }
      .checkboxes{
         .indicator{
            &::after{
               content: '';
               display: none;
               position: absolute;
               height: 24px;
               width: 10px;
               transform: rotate(45deg);
               transform-origin: bottom left;
               bottom: 12px;
               left: 1px;
               border-right: 3px solid $green;
               border-bottom: 3px solid $green;
            }
         }
      }
      //Checkboxes and Radios
      //Selects
      select{
         border: 0px;
         -webkit-appearance: none;
      }
      .custom-select{
         position: relative;
         display: inline-block;
         cursor: pointer;
         p{
            display: inline-block;
            margin: 0px;
         }
         &.open{
            .select-menu{
               display: block;
            }
            &::after{
               transform: rotate(-90deg);
            }
         }
         .select-menu{
            display: none;
            position: absolute;
            right: 0;
            background: $white;
            font-family: 'Cabin', sans-serif;
            border: 2px solid $blue;
            z-index: 2;
            padding: 10px;
            li{
               color: $blue;
               list-style: none;
               cursor: pointer;
               &:hover{
                  color: $green;
               }
            }
         }
         &::after{
            content: '»';
            color: $white;
            text-align: center;
            transform: rotate(90deg);
            vertical-align: middle;
            display: inline-block;
            height: 20px;
            width: 20px;
            font-family: 'Cabin', sans-serif;
            font-size: 1.8rem;
            line-height: 18px;
            background-color: $blue;
         }
      }
      //Selects
      #hospitalFilters{
         display: none;
      }
      #communityFilters{
         display: none;
      }
      #programFilters{
         display: none;
      }
      &.hospitalTrigger{
         #hospitalFilters{
            display: initial;
         }
      }
      &.communityTrigger{
         #communityFilters{
            display: initial;
         }
      }
      &.programTrigger{
         #programFilters{
            display: initial;
         }
      }
   }
   .filter-pretext{
      margin: 20px 0 0 0;
      display: inline-block;
      width: 100%;
      p{
         float: left;
         margin: 0;
         color: $grey;
      }
      #filterClear{
         float: right;
         color: $black;
      }
   }
   .filter-posttext{
      #results-indicator{
         display: inline-block;
         margin: 0;
      }
      .category{
         margin-left: 10px;
         display: inline-block;
         padding: 0;
         p{
            margin-right: 2px;
         }
      }
   }
   .search-container{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      input[type="text"]{
         -webkit-flex-grow: 1;
         -moz-flex-grow: 1;
         -ms-flex-grow: 1;
         flex-grow: 1;
         margin-right: 5px;
      }
   }
   .trigger-container{
      margin: 0  0 10px 0;
      clear: both;
   }
   .category{
      text-align: right;
      padding: 20px 10px;
      p{
         color: $blue;
         display: inline-block;
         margin: 0 10px 0 0;
      }
      .category-icon{
         display: inline-block;
         width: 20px;
         vertical-align: middle;
         path{
            fill: $blue;
         }
      }
   }
   .listing-blocks-container{
      margin-top: 20px;
   }
   .listing-blocks{
      a{
         display: block;
         width: 50%;
         text-decoration: none;
         color: $black;
         float: left;
         @media screen and ($bp-smaller-than-phablet){
            width: 100%;
            float: none;
         }
         &:hover{
            h2{
               color: $green;
            }
         }
      }
      li{
         list-style: none;
      }
      .indiv-block{
         padding-left: 10px;
         padding-right: 10px;
         border-right: 2px solid $light-grey;
         width: 100%;
         h2{
            color: $blue;
            transition: color 0.2s ease-in-out;
         }
         p{
            margin: 0;
         }
         .category{
            text-align: right;
            padding: 20px 10px;
            p{
               color: $blue;
               display: inline-block;
               margin: 0 10px 0 0;
            }
            .category-icon{
               display: inline-block;
               width: 20px;
               vertical-align: middle;
               path{
                  fill: $blue;
               }
            }
         }
         .block-interior{
            height: 260px;
            border-top: 6px solid $blue;
            border-bottom: 2px solid $light-grey;
            overflow: hidden;
            &.filter-view{
               height: 0;
            }
         }
      }
   }
}
