//Add to typography.scss

// @mixin georgia{
//   font-family: Georgia, Times, "Times New Roman", serif;
// }

@mixin cabin{
  font-family: 'Cabin', sans-serif;
}

//Add to variables.scss
$light-blue: #bfebfb;
$new-red: #ed4642;

img{
  max-width:100%;
}

//Homepage

.greeting{
  background-color: $blue;
  //height:700px;
  padding:4em 0;
  h1{
    font-size:3.6rem;
    margin-bottom:4rem;
    font-weight:100;
    color:$white;
    @include georgia;
    span{
      text-transform:uppercase;
      font-weight: 600;
      @include cabin;
    }
    @media screen and ($bp-smaller-than-phablet){
      font-size: 2.6rem;
      span{
         font-size: 3.6rem;
      }
   }
  }
  p{
    color:white;
  }
}

.sdh-intro{
   @media screen and ($bp-smaller-than-tablet){
      margin-bottom: 40px;
   }
   a{
      color: $blue;
      cursor: pointer;
      &:hover{
         text-decoration: none;
      }
   }
  h2{
     font-size: 3.6rem;
     color:$black;
    span{
      @include georgia;
      font-weight: 100;
    }
     }
     .determ-intro{
        display: none;
        h2{
           color: $red;
        }
        a{
           font-weight: 600;
           &:hover,
           &:focus,
           &:active{
            color:$green;
           }
        }
        p{
           @include georgia;
           font-size: 3.2rem;
           font-weight: 400;
        }
    }
    &.determ{
       .determ-intro.active{
          display: block;
      }
      .main-intro{
         display: none;

      }
   }
}

.section-cta{
  //background-color:$white;
     h3{
        display: inline-block;
        font-weight: 600;
        max-width: 60%;
        font-size: 2.6rem;
    }
    h3, p{
       color: $blue;
       margin-bottom: 5px;
       transform: translateX(0px);
       transition: transform 0.25s ease-in-out;
   }
   // p{
   //    max-width: 80%;
   // }
  .wrapper{
    border-left:2px solid $white;
    padding-left:2em;
    float: left;
    @media screen and ($bp-smaller-than-tablet){
      padding-left: 0;
      border-left: 0px;
   }
    a{
      float: left;
      &:nth-of-type(2){
          margin: 10px 0;
      }
      @media screen and ($bp-smaller-than-tablet){
         width: 100%;
      }
   }
    .single-cta{
      position: relative;
      overflow: hidden;
      @media screen and ($bp-smaller-than-tablet){
         width: 100%;
      }
      &::after{
         content: '»';
         position: absolute;
         top: 14px;
         right: 14px;
         font-size: 4rem;
         line-height: 3rem;
      }
      img{
         position: absolute;
         top: 14px;
         left: 14px;
         width: 60px;
         transform: translateX(-80px);
         transition: transform 0.25s ease-in-out;
      }
      &:hover{
          h3, p{
             color: $green;
             transform: translateX(70px);
          }
          &::after{
             color: $green;
          }
          img{
             transform: translateX(0px);
          }
      }
      p{
         font-size: 1.3rem;
         max-width: 80%;
      }
      background-color:$white;
      color:$blue;
      float: left;
      padding: 14px;
    }
  }
}

.social-determinants{
  padding:6em 0;
}

.icons-container{
   @media screen and ($bp-smaller-than-tablet){
      text-align: center;
   }
}

.sdh-icon{
  display: inline-block;
  vertical-align: top;
  // float:left;
  text-align:center;
  cursor:pointer;
  width:24%;
  margin-bottom: 20px;
  // @media ($bp-smaller-than-tablet){
  //   width:40%;
  //  //  margin:0 5%;
  // }
  @media ($bp-smaller-than-mobile){
    width: 32%;
  }
  @media screen and (max-width: 350px){
     width: 40%;
 }
  svg{
     width: 80px;
     .cls-1{
        transition: fill 0.25s ease-in-out;
     }
 }
 &.active{
    svg{
      circle{
         fill: $red;
      }
   }
   &:hover, &:active, &:focus{
      .cls-1{
         fill: $red;
      }
   }
}
  &:hover,
  &:active,
  &:focus{
    svg{
      .cls-1{
        fill: $green;
      }
    }
  }
  .wrap{

   //  img,svg{
   //    max-width:60%;
   //    height:auto;
   //    @media ($bp-smaller-than-tablet){
   //      max-width:100%;
   //    }
      // &:hover{
      //   .cls-1{
      //     fill:$red;
      //   }
      // }
    }

    .caption{
      // font-size: 1.2em;
      color:$red;
      font-weight:600;
      @include cabin;
    }
  }

//Default pages

.page-title{
  margin-top:3em;
  text-transform: uppercase;
}
.headline{
  color:$blue;
  font-size:2.2rem;
  margin-bottom:4rem;
}

.cta-sidebar{
  // -webkit-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // -moz-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  height:100%;
  padding: 1em;
}


.side-cta{
  background-color:$light-light-blue;
  padding:1.5em 2em;
  margin-bottom:1em;
  background-image:url('img/cta-arrow.png');
  background-repeat:no-repeat;
  background-position:95% 1.75em;
  .wrap{
    width:80%;
  }
  h3{
    color:$blue;
    font-size:1.3em;
    font-style:italic;
    margin-bottom:0;
  }

  .cta-arrow{
    position: absolute;
    right: 1.5em;
    top: 2.5em;
  }
  a{
    color:$blue;
    &:hover,
    &:focus,
    &:active{
      text-decoration:none;
      h2,h3{
        opacity:.7;
        text-decoration: none;
      }
  }
  }

}

.page-content{
  // -webkit-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // -moz-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  padding-bottom:5em;
  @media ($bp-smaller-than-tablet){
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  height:100%;
  .wrap{
    width:80%;
    @media ($bp-smaller-than-tablet){
      width:initial;
    }
  }
}
.the-content{
  h1, h2, h3, h4, h5, h6{
    color:$red;
    text-transform:uppercase;
    font-weight:700;
  }

  li{
    //font-size:1.6em;
  }
}

.submit-program{
    //background: #F0F0F0;
    padding: 18px 18px 45px;
    width: 100%;
    box-sizing: border-box;
  input, textarea{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: $black;
    display: block;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 6px 4px;
    width: 97%;
  }

  textarea{
    height:150px;
  }

  .frm_dynamic_select_container{
    margin-bottom:2em;
  }

  select{
    height:auto;
    min-width: 70%;
  }

  input[type='checkbox']{
    border:none;
    background:none !important;
    display:inline-block;
  }

  .frm_style_formidable-style.with_frm_style .frm_radio label, 
  .frm_style_formidable-style.with_frm_style .frm_checkbox label
  .frm_radio label, 
  .frm_checkbox label{
    display: inline;
    white-space: normal;
  }

  .frm_form_field .frm_checkbox, 
  .frm_form_field .frm_checkbox + .frm_checkbox, 
  .frm_form_field .frm_radio, 
  .frm_form_field .frm_radio + .frm_radio{
    margin-bottom:1em;
    margin-left:1em;
  }

  .with_frm_style .frm_radio input[type=radio], 
  .with_frm_style .frm_checkbox input[type=checkbox],
  .frm_radio input[type=radio], 
  .frm_checkbox input[type=checkbox] {
    display: inline-block;
    margin:0;
    padding:0;
    margin-right: 5px;
    width: auto;
    border: none;
    vertical-align: baseline;

  }

  input[type='submit'],
  button[type='submit']{
        background-color: $blue;
        color: $white;
        //padding: 6px 8px;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        border:none;
    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
        background-color: $green;
    }
  }
}

//Map tool specific styling
.mix{
    display: none;
}

.collapsable-content{
   display: none;
   overflow: hidden;
}

.listing-interface .detail-nav-bottom .collapse .button-text {
    margin: 0px 10px 0px 0px;
}

.listing-interface .detail-nav-bottom .collapse {
    float: right;
}

.listing-interface .detail-nav-bottom .button-arrow{
   transform: rotate(180deg);
}

.nothing-found{
   color: #f05133;
   font-size: 13px;
   font-weight: bold;
   border: 1px solid #f05133;
   width: 99%;
   padding: 10px;
   background-color: #fdedea; display:none
 }
 .submission-tab{
   background: #ffffff;
   height: 30px;
   position: absolute;
   display: inline-block;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   top: 180px;
   right: 0px;
   padding: 2px 10px;
   cursor: pointer;
   z-index: 1;
   line-height: 21px;
   text-transform: uppercase;
 }

 .submission-tab a::after {
    content: '»';
    display: inline;
    font-size: 2rem;
    margin-left: 4px;
    position: relative;
    top: 2px;
}

 .submission-tab a{
   color: #00aeef;
 }
  .submission-tab a:hover{
   color: #35BDB2;
   text-decoration: none;
 }

  .hide-panel{
   background: #ffffff;
   height: 30px;
   position: absolute;
   display: inline-block;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   top: 180px;
   right: 0px;
   padding: 4px 10px;
   cursor: pointer;
   z-index: 1;
   line-height: 21px;
   text-transform: uppercase;
 }

 .page-404{
  .content{
    margin:3em 0;
    min-height:70vh;
    a{
      color:$blue;
      &:hover,
      &:focus,
      &:active{
        opacity:.7;
        text-decoration:none;
      }
    }
  }
 }
