//Add to typography.scss

// @mixin georgia{
//   font-family: Georgia, Times, "Times New Roman", serif;
// }

@mixin cabin{
  font-family: 'Cabin', sans-serif;
}

//Add to variables.scss
$light-blue: #bfebfb;
$new-red: #ed4642;

img{
  max-width:100%;
}

//Homepage

.greeting{
  background-color: $blue;
  //height:700px;
  padding:4em 0;
  h1{
    font-size:3.6rem;
    margin-bottom:4rem;
    font-weight:100;
    color:$white;
    @include georgia;
    span{
      text-transform:uppercase;
      font-weight: 600;
      @include cabin;
    }
    @media screen and ($bp-smaller-than-phablet){
      font-size: 2.6rem;
      span{
         font-size: 3.6rem;
      }
   }
  }
  p{
    color:white;
  }
}

.sdh-intro{
   @media screen and ($bp-smaller-than-tablet){
      margin-bottom: 40px;
   }
   a{
      color: $blue;
      cursor: pointer;
      &:hover{
         text-decoration: none;
      }
   }
  h2{
     font-size: 3.6rem;
     color:$black;
    span{
      @include georgia;
      font-weight: 100;
    }
     }
     .determ-intro{
        display: none;
        h2{
           color: $red;
        }
        a{
           font-weight: 600;
           &:hover,
           &:focus,
           &:active{
            color:$green;
           }
        }
        p{
           @include georgia;
           font-size: 3.2rem;
           font-weight: 400;
        }
    }
    &.determ{
       .determ-intro.active{
          display: block;
      }
      .main-intro{
         display: none;

      }
   }
}

.section-cta{
  //background-color:$white;
     h3{
        display: inline-block;
        font-weight: 600;
        max-width: 60%;
        font-size: 2.6rem;
    }
    h3, p{
       color: $blue;
       margin-bottom: 5px;
       transform: translateX(0px);
       transition: transform 0.25s ease-in-out;
   }
   // p{
   //    max-width: 80%;
   // }
  .wrapper{
    border-left:2px solid $white;
    padding-left:2em;
    float: left;
    @media screen and ($bp-smaller-than-tablet){
      padding-left: 0;
      border-left: 0px;
   }
    a{
      float: left;
      &:nth-of-type(2){
          margin: 10px 0;
      }
      @media screen and ($bp-smaller-than-tablet){
         width: 100%;
      }
   }
    .single-cta{
      position: relative;
      overflow: hidden;
      @media screen and ($bp-smaller-than-tablet){
         width: 100%;
      }
      &::after{
         content: '»';
         position: absolute;
         top: 14px;
         right: 14px;
         font-size: 4rem;
         line-height: 3rem;
      }
      img{
         position: absolute;
         top: 14px;
         left: 14px;
         width: 60px;
         transform: translateX(-80px);
         transition: transform 0.25s ease-in-out;
      }
      &:hover{
          h3, p{
             color: $green;
             transform: translateX(70px);
          }
          &::after{
             color: $green;
          }
          img{
             transform: translateX(0px);
          }
      }
      p{
         font-size: 1.3rem;
         max-width: 80%;
      }
      background-color:$white;
      color:$blue;
      float: left;
      padding: 14px;
    }
  }
}

.social-determinants{
  padding:6em 0;
}

.icons-container{
   @media screen and ($bp-smaller-than-tablet){
      text-align: center;
   }
}

.sdh-icon{
  display: inline-block;
  vertical-align: top;
  // float:left;
  text-align:center;
  cursor:pointer;
  width:24%;
  margin-bottom: 20px;
  // @media ($bp-smaller-than-tablet){
  //   width:40%;
  //  //  margin:0 5%;
  // }
  @media ($bp-smaller-than-mobile){
    width: 32%;
  }
  @media screen and (max-width: 350px){
     width: 40%;
 }
  svg{
     width: 80px;
     .cls-1{
        transition: fill 0.25s ease-in-out;
     }
 }
 &.active{
    svg{
      circle{
         fill: $red;
      }
   }
   &:hover, &:active, &:focus{
      .cls-1{
         fill: $red;
      }
   }
}
  &:hover,
  &:active,
  &:focus{
    svg{
      .cls-1{
        fill: $green;
      }
    }
  }
  .wrap{

   //  img,svg{
   //    max-width:60%;
   //    height:auto;
   //    @media ($bp-smaller-than-tablet){
   //      max-width:100%;
   //    }
      // &:hover{
      //   .cls-1{
      //     fill:$red;
      //   }
      // }
    }

    .caption{
      // font-size: 1.2em;
      color:$red;
      font-weight:600;
      @include cabin;
    }
  }

//Default pages

.page-title{
  margin-top:3em;
  text-transform: uppercase;
}
.headline{
  color:$blue;
  font-size:2.2rem;
  margin-bottom:4rem;
}

.cta-sidebar{
  // -webkit-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // -moz-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  height:100%;
  padding: 1em;
}


.side-cta{
  background-color:$light-light-blue;
  padding:1.5em 2em;
  margin-bottom:1em;
  background-image:url('img/cta-arrow.png');
  background-repeat:no-repeat;
  background-position:95% 1.75em;
  .wrap{
    width:80%;
  }
  h3{
    color:$blue;
    font-size:1.3em;
    font-style:italic;
    margin-bottom:0;
  }

  .cta-arrow{
    position: absolute;
    right: 1.5em;
    top: 2.5em;
  }
  a{
    color:$blue;
    &:hover,
    &:focus,
    &:active{
      text-decoration:none;
      h2,h3{
        opacity:.7;
        text-decoration: none;
      }
  }
  }

}

.page-content{
  // -webkit-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // -moz-box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  // box-shadow: inset 15px -9px 5px -10px rgba(0,0,0,0.69);
  box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2.828px 0px 4px 0px rgba(0, 0, 0, 0.06);
  padding-bottom:5em;
  @media ($bp-smaller-than-tablet){
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  height:100%;
  .wrap{
    width:80%;
    @media ($bp-smaller-than-tablet){
      width:initial;
    }
  }
}
.the-content{
  h1, h2, h3, h4, h5, h6{
    color:$red;
    text-transform:uppercase;
    font-weight:700;
  }

  li{
    font-size:1.6em;
    list-style-position: outside;
    margin-left:2.5em;
  }
}

.submit-program{
    background: #F0F0F0;
    padding: 18px 18px 45px;
    width: 100%;
    box-sizing: border-box;
  input, textarea{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: $black;
    display: block;
    margin: 0 0 20px;
    max-width: 100%;
    outline: medium none;
    padding: 6px 4px;
    width: 97%;
  }

  textarea{
    height:150px;
  }

  .frm_dynamic_select_container{
    margin-bottom:2em;
  }

  select{
    height:auto;
    min-width: 70%;
  }

  input[type='checkbox']{
    border:none;
    background:none !important;
    display:inline-block;
  }

  .frm_style_formidable-style.with_frm_style .frm_radio label, 
  .frm_style_formidable-style.with_frm_style .frm_checkbox label
  .frm_radio label, 
  .frm_checkbox label{
    display: inline;
    white-space: normal;
  }

  .frm_form_field .frm_checkbox, 
  .frm_form_field .frm_checkbox + .frm_checkbox, 
  .frm_form_field .frm_radio, 
  .frm_form_field .frm_radio + .frm_radio{
    margin-bottom:1em;
    margin-left:1em;
  }

  .with_frm_style .frm_radio input[type=radio], 
  .with_frm_style .frm_checkbox input[type=checkbox],
  .frm_radio input[type=radio], 
  .frm_checkbox input[type=checkbox] {
    display: inline-block;
    margin:0;
    padding:0;
    margin-right: 5px;
    width: auto;
    border: none;
    vertical-align: baseline;

  }

  input[type='submit'],
  button[type='submit']{
        background-color: $blue;
        color: $white;
        //padding: 6px 8px;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        border:none;
    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
        background-color: $green;
    }
  }
}

//Map tool specific styling
.mix{
    display: none;
}

.collapsable-content{
   display: none;
   overflow: hidden;
}

.listing-interface .detail-nav-bottom .collapse .button-text {
    margin: 0px 10px 0px 0px;
}

.listing-interface .detail-nav-bottom .collapse {
    float: right;
}

.listing-interface .detail-nav-bottom .button-arrow{
   transform: rotate(180deg);
}

.nothing-found{
   color: #f05133;
   font-size: 13px;
   font-weight: bold;
   border: 1px solid #f05133;
   width: 99%;
   padding: 10px;
   background-color: #fdedea; display:none
 }
 .submission-tab{
   background: $blue;
   height: 30px;
   position: absolute;
   display: inline-block;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   top: 180px;
   right: 0px;
   padding: 2px 10px;
   cursor: pointer;
   z-index: 1;
   line-height: 21px;
   text-transform: uppercase;
 }

  .submission-tab:hover{
   background: $green;
 
 }

 .submission-tab a::after {
    content: '»';
    display: inline;
    font-size: 2rem;
    margin-left: 4px;
    position: relative;
    top: 2px;
}

 .submission-tab a{
   color: #ffffff;
 }
  .submission-tab a:hover{
   color: #ffffff;
   text-decoration: none;
 }

  .hide-panel{
   background: #ffffff;
   height: 30px;
   position: absolute;
   display: inline-block;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
   top: 180px;
   right: 0px;
   padding: 4px 10px;
   cursor: pointer;
   z-index: 1;
   line-height: 21px;
   text-transform: uppercase;
 }

 .page-404{
  .content{
    margin:3em 0;
    min-height:70vh;
    a{
      color:$blue;
      &:hover,
      &:focus,
      &:active{
        opacity:.7;
        text-decoration:none;
      }
    }
  }
 }

//Resources Library
.resource-results{
  position:relative;
}

.loader-container{
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  //height:100%;
  width:100%;
  display:table;
  height:600px;
  .loader{
    display:table-cell;
    height:100%;
    vertical-align:middle;
    width:100%;
  }
}
.resource-container{
  margin-top:40px;
  margin-bottom:40px;
}

.resource-grid{

  [class*='columns-']:last-of-type{
    padding-right:15px;
  }

  .post-error{
    color: #f05133;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #f05133;
    width: 99%;
    padding: 10px;
    background-color: #fdedea;
  }

  .resource-indiv{
    //border-top:right: 2px solid #E3E3E3;
    //Keep these values the same
    margin-bottom:10px;
    padding-right:10px;
    //---------------------
    border-right: 2px solid $light-grey;
     // &:nth-of-type(even){
     //    .resource-block{
     //          margin-left: 10px;
     //          @media ($bp-smaller-than-tablet){
     //            margin-left:0;
     //          }
     //        }
     //    }
  }

  .resource-item{
    background-color:$white;
    //transition:height .2s ease-in-out;
    // width:50%;
    // float:left;
    height:340px;

    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  .resource-block{

            height: 330px;
            border-top: 6px solid $blue;
            border-bottom: 2px solid $light-grey;
             
            overflow: hidden;
            padding:10px 0 10px 10px;
            background-color:$white;


            .resource-inner{
              padding-right:10px;
            }

            .resource-intro{
              margin-bottom:7em;
            }

            h2{
              color:$blue;
              margin:0;
              font-weight:700;
            }

            .content{
              height:200px;
              //padding-bottom:10em;
              overflow:hidden;
              max-width: 95%;
              p{
                font-size:1.3rem;
              }
            }

            .tax-terms{
              span{
                text-transform:uppercase;
                font-weight:700;
              }
            }

            .author{
              font-size:1.2em;
              font-weight:700;
              margin:15px 0;
            }

            .category-icon{
              display: inline-block;
              width: 20px;
              vertical-align: middle;
              margin-top:-4px;
            }

            .resource-head{
              //text-align:right;
              color:$blue;
              //font-size: 1.4rem;
              text-transform:uppercase;
              padding:10px 0;
              p{
                display: inline-block;
                font-size: 1.3rem;
                margin: 0 0 0 10px;
                color:$blue;
                font-weight:700;
              }
            }

            .strategy-label{
              margin-top:10px;
            }

            .strategy-cb{
              width:20px;
              height:20px;
              display:inline-block;
              margin-top:-4px;
              background-color:$light-grey;
              vertical-align: middle;
              border-radius:3px;

              &.program-implementation{
                background-color:orange;
              }

              &.strategic-planning{
                background-color:red;
              }

              &.multisector-partnerships{
                background-color:green;
              }

              &.hospital-readiness-community-assessment{
                background-color:cyan;
              }

              &.hit-systems-analysis{
                background-color:brown;
              }
            }

            .resource-foot{
              border-top:2px solid $light-grey;
              color:$blue;
              text-transform:uppercase;
              padding: 10px 0;
              //font-size:1.4rem;
              .expand{
                font-size:1.3rem;
                color:$blue;
                float:left;
                font-weight:700;
                cursor:pointer;
                img{
                  transform:rotate(-90deg);
                  width:8px;
                  height:auto;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 10px;
                  transition: transform 0.4s ease-in-out;
                }
                &:focus,
                &:active,
                &:hover{
                  opacity:.7;
                }
              }

              .resource-link{
                float:right;
                a{
                  font-size:1.3rem;
                  color:$blue;
                  text-decoration:none;
                  font-weight:700;
                  &:hover,
                  &:focus,
                  &:active{
                    opacity:.7;
                  }
                }
              }
            }
  }
}
.filter-dropdown{
  appearance:none;
  display:inline;
  float:left;
  padding-right:5px;

  ul{
    list-style-type:none;
    li{
      list-style-type:none;
      &.initial{
        background-color:$blue;
        position:relative;
        color:$white;
        font-size:1.2em;
        span{
          position:absolute;
          transform:rotate(90deg);
          right:5px;
        }
      }
        &:hover,
        &:focus,
        &:active{
          ul{
            left:0;
          }
        }
      ul{
        position:absolute;
        left:-9999999px;
        li{

        }
      }
    }
  }
}

.resource-toolbar{
    label{
     //display: inline-block;
     margin-right: 19px;
     margin-bottom: 10px;
     font-size: 1.4rem;
     //white-space:nowrap;
     text-indent: -29px;
     padding-left: 29px;

     &.selected{
      opacity:1 !important;
      svg{
        .cls-1{
          fill:$new-red;
        }
      }
     }

     @media($bp-smaller-than-tablet){
      width:100%;
     }
  }



  #filterClear{
    float: right;
    //color: #5a5b5b;
    font-size: 1.3em;
    padding: 20px 0;
    cursor:pointer;
    &:hover,
    &:focus,
    &:active{
      text-decoration: underline;
    }
  }

  .search-container{
    margin:0;
  }

  .resource-filters{
    fieldset{
      max-width:initial;
    }
    p{
      font-size:1.3rem;
      padding:20px 0;
      margin:0;
      float:left;
    }
    .filter-group{
      margin-bottom:0;
      legend{
        margin-bottom:3rem;
      }
      h2{

        span{
          font-style:italic;
          font-size:1.3rem;
        }
      }
    }

    .checkboxes.filters{
      .columns-6{
      @media ($bp-smaller-than-desktop){
        width:100%;
      }

    }
    }
    
  }



  .checkboxes, .radio-buttons{
     padding-bottom: 2rem;
     margin-bottom: 2rem;
     border-bottom: 2px solid $light-grey;

     &:nth-of-type(2){
      border-bottom:none;
     }

     label{
      cursor:pointer;
     }

     input{
        opacity: 0;
        z-index: -10;
        position: absolute;
        &:focus{
           ~ .indicator{
              border-color: $red;
           }
        }
        &:checked{
           ~ .indicator::after{
              display: block;
           }
        }
     }
     .indicator{
        vertical-align: middle;
        position: relative;
        display: inline-block;
        height: 21px;
        width: 21px;
        background: transparent;
        //border: 1px solid $blue;
        margin-right: 5px;

          svg{
            max-width:100%;
            height:auto;
          }

          &.program-implementation{
            background-color:orange;
            border-radius:3px;
          }

          &.strategic-planning{
            background-color:red;
            border-radius:3px;
          }

          &.multisector-partnerships{
            background-color:green;
            border-radius:3px;
          }

          &.hospital-readiness-community-assessment{
            background-color:cyan;
            border-radius:3px;
          }

          &.hit-systems-analysis{
            background-color:brown;
            border-radius:3px;
          }

        &:hover,
        &:active,
        &:focus{
          svg{
            .cls-1{
              fill:$new-red;
            }
          }
        }

        svg{
          position:absolute;
          right:0;
          top:0;
        }
     }
  }
  .radio-buttons{
     .indicator{
        border-radius: 50%;
        &::after{
           content: '';
           display: none;
           position: absolute;
           top: 1px;
           left: 1px;
           height: 8px;
           width: 8px;
           border-radius: 50%;
           background: $green;
        }
     }
  }

  .checkboxes{
     .indicator{
        // &::after{
        //    content: '';
        //    display: none;
        //    position: absolute;
        //    height: 12px;
        //    width: 6px;
        //    transform: rotate(45deg);
        //    transform-origin: bottom left;
        //    bottom: 6px;
        //    left: 0;
        //    border-right: 2px solid $green;
        //    border-bottom: 2px solid $green;
        // }
     }
  }

  .filter-group:nth-of-type(2) .checkboxes,
  .filter-group:nth-of-type(2) .radio-buttons{
    border-bottom:none;
    margin-bottom:0;
  }

  .functions{
    font-size:1.8rem;
    color:$blue;
    cursor:pointer;
    //display:inline-block;
      //float:left;
      //width:45%;
      font-weight:700;
      border-top:6px solid $blue;
      padding:1em 0;
      font-weight: 700;
    &:hover,
    &:focus,
    &:active{
      opacity:.7;
    }
  }

      // .functions{
      //     display:inline-block;
      //     float:left;
      //     width:45%;
      //    }
}

.hide{
  display:none;
}